.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    cursor: pointer;
}

.logo-img {
    height: 40px;
    width: auto;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-name {
    margin-left: 10px;
    font-size: 16px;
}

.profile-pic {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}